/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --borderColor: #d9d9d9;
    --colorRed: #198754;
    --background: #FFFFFF;
    --colorBox: #f5f5f5;
    --colorBlack: #000;
    /* --colorBlack: #333; */
    --fontKhmer: 'kantumruy';
    --fontEnglish: 'Exo', sans-serif;
}
body {
    background-color: var(--background);
    touch-action: pan-y;
    font-family: "Kantumruy";
    overflow-x: hidden;
}
@font-face {
    font-family: "Kantumruy";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://natt.realteethclinic.com/assets/font/Kantumruy-Regular.ttf") format('woff2');
    unicode-range: U+1780-17FF, U+200C, U+25CC;
}